{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
 <!--<h2 class="text-white my-5">About Page</h2> --> 
<p>
There are certain problems prevailing presently while using many different sites for posting blogs, posting quotes and posting images to connect socially: - 
<br><br>
In today’s world, we have to use different sites for posting blogs, posting quotes.
<br><br>We have another more sites to post different images of person and for connecting in social media.
<br><br>It is very important to stay updated, to stay connected to social media nowadays.
<br><br>So, it is very difficult to maintain different softwares and hardwares for blogs, quotes and images.
<br><br>It is a very tough job to handle these many more different databases.
<br><br>Blogs are the things which gives people knowledge, quotes are those who gives people motivation, uploading images in social media gives people a platform to showcase their and connect to different people.
<br><br>It is a waste of time to visit three different websites for these things.
<br><br><h4>So, we come up with the idea of gathering these three things under one roof to simplify the things.
</h4></p> 
</div>

{% endblock content %}